.chat-widget {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.chat-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.chat-header {
  background: #007bff;
  color: white;
  padding: 10px;
  text-align: center;
}

.chat-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.chat-search {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.chat-search input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.chat-body {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.chat-message {
  margin-bottom: 10px;
}

.chat-footer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.chat-input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.chat-send-button {
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.highlight {
  background-color: yellow;
}

.input-container {
  position: relative;
  width: 300px; 
  margin: 20px;
}
.input-logo {
  position: absolute;
  left: 10px; 
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  pointer-events: none; 
}
.input-container input {
  width: 100%;
  padding: 10px 10px 10px 40px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}