
#other-info {
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
  display: flex;
  flex-direction: column;
  position: relative; 
  padding: 10px;
}

.map-page {
  display: flex;
  justify-content: space-evenly;
  width: 95%;
  height: 680px;
  margin: auto;
}


#main-info {
  margin-top: 15px;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  position: relative;
}

#map {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}



  
#chart-container {
  width: 100%;
  height:30%; 
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
#chart-space {
  height: 195%; 
  width: 100%;
  position: relative; 
}
#chart-canvas {
  height: 380px;
  position: relative; 
  background-color: white;
}
#chart-container.visible {
  display: block;
  background-color: hsla(0, 0%, 100%, 0);

}
 #marker1-info {
  background-color: white;
  padding: 5px;
  border-radius: 3px;
  z-index: 10;
  margin-bottom: 10px;
}

.mapboxgl-popup-content #add-button {
  all: unset;
  padding: 5px;
  border-radius: 3px;
  background-color: #4CAF50;
  color: rgb(4, 2, 2);
  cursor: pointer;
  text-align: center;
}

.mapboxgl-popup-content {
  color: rgb(4, 2, 2) !important;
}

.form-container {
  display: flex;
  gap: 20px;
}

.form-container > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.tabs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding: 0;
  margin: 0;
  list-style: none;
}

.tab-button  {
  padding: 10px 20px;
  border: none;
  background-color: rgb(164 206 239 / 20%);
  color: gray;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 10px 10px 0 0; /* Rounded top corners */
  margin: 15px ; /* Space between tabs */
}

.tab-button:hover {
  background-color: #e0e0e0;
}

.tab-button:focus {
  outline: none;
}

.tab-button:disabled {
  background-color: #f1f1f1;
  color: #c0c0c0;
  cursor: not-allowed;
}
#tab-box {
  width: auto;
  height: 250px;
}

/* .tab-button {
  background-color: #254f7c00;
  color:gray;
  margin-bottom: 0px;
} */

.tab-button.active {
  border-bottom: 2px solid #246bb6;
  color: white;
  background-color: #246bb6;
  font-weight: bold;
}

/* .tab-button:hover {
  background-color: #246bb6;
  color: white; 
} */

.tab-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 10px;
  width: 430px; 
  min-height: 600px;
  box-sizing: border-box;
  margin: auto;
  overflow-y: auto;
  overflow-x: hidden
}

#chat-box {
  width: 100%;
  height: 195%;
}

button#toggle-elevation-button {
  all: unset !important;
  padding: 10px !important;
  width: 160px;
  background: #ffffff !important;
  color:rgb(0, 0, 0);
  border: 1px solid black !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  margin: 7px !important;
}
button#toggle-elevation-button:hover {
  background: #1e66ae !important;
  color: white;

}
.under-map-info {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  font-size: 14px; 
}
.under-map-info > div {
  margin-right: 30px;
}


.marker {
  position: absolute;
  width: 60px;
  height: 60px;
  top: -22px; 
  background-size: cover;
  border-radius: 50%; 
   background-image: url('./assets/marker.png'); 
}
.marker-number {
  position: absolute;
  top: 12px; 
  left: 52%;
  transform: translateX(-50%);
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.schedule {
  border: 1px solid #ccc;
  padding: 0px;
  border-radius: 3%;
  width: 100%;
  height: 480px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.route {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px 10px 10px;
  border-bottom: 1px solid #ccc;
  background-color:rgb(164 206 239 / 20%);
  position: relative;
}
.day-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  background-color:rgba(255, 255, 255, 0);
  position: relative;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
  margin: 0 10px;
}

.day-number,.route-name {
  font-size: 16px;

  padding: 0 10px;
  background-color: #f9f9f9;
  position: relative;
  width: 60px;
  z-index: 1;
}
.route-name {
  font-size: 16px;
  font-weight: bold;
  padding: 0 10px;
  background-color: #f9f9f900;
  position: relative;
  width: 75px;
  z-index: 1;
}
.date-input ,#route-name-input {
  font-size: 14px;
  color: #666;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  background-color: #fff;
  
}
.time-input{
  font-size: 14px;
  color: #666;
  border: 1px solid #cccccc00;
  border-radius: 4px;
  padding: 5px ;
  background-color: #fff;
  width: 115px;
  margin-left: 5px;
}

.event {
  display: flex;
  align-items: center;
  padding: 10px 0;
  position: relative;
}

.time-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
}

.time {
  background-color: #1e66ae;
  color: #fff;
  padding: 5px 10px;
  border-radius: 12px;
  text-align: center;
  font-size: 12px;
}

input[type="radio"] {
  margin-left: 10px;
  margin-right: 10px;
}

.event-details {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event-container {
  display: flex;
  align-items: center;

}
.event-number {
  margin: 0px 10px 0px 10px;
  font-weight: bold;
  background-color: #39654ddb;
  color: white;
  padding: 8px;

}
.event-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 300px;
}

.add-day {
  background-color:  #2a66a1;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  color:white;
  font-size: 12px;
  display: flex;
  align-items: center;
  margin: 0px 0px 20px 300px;
}

.add-day:hover {
  background-color: #73b0e5;
}
.btn-icon {
  background-color: #5579a000;
  color: white;
  border: none;
  padding: 5px 4px 0px 8px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 6.5px;
}
.divider {
  width: 1px;
  height: 20px;
  background-color: #807b7b8e;
  margin: auto 10px;
}

html, body {
  height: 100%;
  margin: 0;
}

.mapboxgl-popup-close-button {
  width: 16px;
}

.chat-widget-container {
  min-height: 470px;
}