
.container {
  text-align: center;
  padding: 20px;
}

.nav-list {
  list-style-type: none; 
  padding: 0;
  margin: 0;
  display: flex; 
  justify-content: center; 
}

.nav-list li {
  margin: 0 15px; 
}


.nav-list li a {
  text-decoration: none; 
  color: #4A148C; 
  font-size: 18px; 
  font-weight: bold;
}

.nav-list li a:hover {
  text-decoration: underline; 
}
