/* Dashboard.css */
.dashboard-container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #333;
  }
  .container {
    width: 100%; 
    text-align: center; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #f8f9fa;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  li button {
    margin-left: 10px;
  }
  