
#other-info {
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.map-page {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 800px;
  position: relative; 
}


#main-info {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

#map {
  width: 100%;
  height: 70%;
  position: relative;
  z-index: 1;
}



  
#chart-container {
  width: 100%;
  height:30%; 
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
#chart-space {
  height: 135%; 
  width: 100%;
  position: relative; 
}
#chart-canvas {
  height: 360px;
  position: relative; 
  background-color: white;
}
#chart-container.visible {
  display: block;
  background-color: hsla(0, 0%, 100%, 0);

}
#walking-time, #marker1-info {
  background-color: white;
  padding: 5px;
  border-radius: 3px;
  z-index: 10;
  margin-bottom: 10px;
}

.add-button {
  padding: 5px;
  border-radius: 3px;
  background-color: #4CAF50;
  color: rgb(4, 2, 2);
  cursor: pointer;
  text-align: center;
}

.form-container {
  display: flex;
  gap: 20px;
}

.form-container > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
  justify-content: space-evenly;


}


.tab-button.active {
  border-bottom: 2px solid #37a2eb;
  font-weight: bold;
}

.tab-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 450px; 
  box-sizing: border-box;
}

/* .tab-box {
  width: 400px;
} */

#chat-box {
  width: 100%;
  height: 250px;
}

.toggle-elevation-button {
  padding: 10px;
  width: 150px;
  background: #254f7c;
  /* color: white; */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}


#toggle-elvation-button{
  width: 150px;
}